*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-image: url("https://wallpapertag.com/wallpaper/full/8/a/8/890850-free-download-beautiful-forest-wallpaper-2406x1504.jpg");
    background-size: cover;
}
#input{
    position: fixed;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    right: 600px;
    margin-top: 350px;  
    font-family: 'Fredoka', sans-serif;
    color: white;
}
#input input{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    outline: none;
}
#input button{
    height: 20px;
    width: 100px;
    cursor: pointer;
}
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #333;
    text-align: center;
    z-index: 999;
}

#popup div {
    max-width: 400px;
    margin: 0 auto;
}

#popup h1 {
    font-size: 1.5em;
}

#popup p {
    margin: 10px 0;
}

#continueButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#continueButton:hover {
    background-color: #45a049;
}
